.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(31,34,43);
    color: rgb(255, 255, 255);
}
body {
    background-color: rgb(0, 0, 0);
}
.nav-bar{
    margin: 1px;
    height: 45px;
    color: snow;
}
.nav-menu {
    /*remove the bullets and the margins and padding from the list*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*prevent li elements from going outside of the list*/
    overflow: hidden;
    height: 30px;
    background-color: rgb(31,34,43);
}
.nav-menu li {
    float: left;
}
.nav-menu a {
    width: 100px;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 20px;
    text-align: center
}
.nav-menu a:hover {
    /* change the link color when it's on hover */
    background-color: darkgray;
  }
.curent {
    background-color: darkgray;
}
.about-section {
    margin: 5px;
    height: 330px;
}
.about-section .main {
    display: flex; 
    height: 330px;
    background-color: rgb(169, 169, 169);
}
.main .img-column {
    width: 25%;
}
.main .txt-column {
    width: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgb(31,34,43);
}
.img-column img {
    width: 250px;
    height: 250px;
    filter: grayscale(100%);
    position: absolute;
    top: 280px;
    left: 50px;
    cursor: pointer;
 }
.txt-column h2 {
    font-size: 25px;
    margin-top: 80px;
 }
 .txt-column p {
    font-size: 17px;
    padding-right: 50px;
 }
.row:after {
    content: "";
    display: table;
    clear: both;
}
.projects-section {
    margin: 5px;
    height: 1000px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.projects-section .projects{
    background-color: rgb(169, 169, 169);
    color: rgb(31,34,43);
    height: 1000px;
}
.projects h2{
    font-size: 25px;
    padding-top: 20px;
}
.projects h3{
    font-size: 20px;
    text-decoration: underline;
    padding-top: 20px;
}
.contact-section {
    margin: 5px;
    height: 300px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-section .contact{
    background-color: rgb(31,34,43);
    color: snow;
    height: 300px;
}
.contact h2{
    font-size: 25px;
    padding-top: 20px;
}
.contact h3{
    font-size: 20px;
    text-decoration: underline;
    padding-top: 20px;
}